.zeus.sock
.bundle
.DS_Store
dump.rdb
db/*.sqlite3
db/data.yml
log/*
tmp/*
tmp/**/*
.idea/**/*
.idea
.autotest
.zeus.sock
latest.dump
public/system/**/*
pg
.sass-cache/
results
results/**/*
coverage
coverage/**/*
public/assets
public/assets/**/*
solr/data
solr/pids
solr/default
solr/development
solr/test
sauce_connect.log
sauce_connect.log*
projectFilesBackup/**/*
vendor/
